/* Profile picture and name */
header.profile {
  display: flex;
  height: 520px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  background-color: orange;
  background-image: url("https://www.transparenttextures.com/patterns/french-stucco.png");
  padding: 120px 0 0 0;
}

/* Profile picture and name style in desktop view */
@media (min-width: 1024px) {
  header.profile {
    margin-top: 200px;
    width: 80%;
    margin-left: 10%;
  }
}