/* Styling for tweets */
article {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-top: 100px;
  border: 5px black groove;
  margin-bottom: 40px;
  padding: 0 5px;
}
article:hover {
  box-shadow: 10px 5px 5px grey;
}

article header {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-content: flex-start;
}

article header div {
  display: flex;
  height: 80px;
}

article header p {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  align-self: center;
}
article .posted-tweet {
  padding-top: 10px;
}

article footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

.posted-tweet {
  display: flex;
  height: 60px;
  border: 0;
  border-bottom: 5px black groove;

}

i {
  padding: 0 0 0 10px;
  color: black;
}

i:hover {
  color: rgb(235, 135, 13);
  cursor: pointer;
}